<div class="login">
  <button mat-raised-button color="primary" (click)="atras()" class="boton">atras</button>
  webchat
  <button mat-raised-button color="primary" (click)="cerrarSesion()" class="boton">Cerrar Sesion</button>
</div>
<div class="contenedor_mensajes" #conversacionArea>
  <span *ngFor="let ms of conversacion">
    <span *ngIf="ms.nombre==usuario; then mensajePropio else mensajeOtro"></span>
    <ng-template #mensajePropio>
        <div class="mensaje mensaje-propio">
          <div class="fondo fondo-propio">
            <strong>{{ms.nombre}}</strong><br>
            {{ms.texto2}}<br>
            <i>{{ms.fecha}}</i>
          </div>
        </div>
    </ng-template>
    <ng-template #mensajeOtro>
        <div class="mensaje mensaje-otro">
          <div class="fondo fondo-otro">
          <strong>{{ms.nombre}}</strong><br>
            {{ms.texto2}}<br>
            <i>{{ms.fecha}}</i>
          </div>
        </div>
    </ng-template>
  </span>
</div>

<br>
<mat-form-field class="casilla-mensaje">
  <input matInput [(ngModel)]="mensaje" placeholder="mensaje" type="text" autocomplete="off" (keydown.enter)="enviar()">
</mat-form-field>
<br>
<button mat-raised-button color="primary" (click)="enviar()" class="boton">enviar</button>
<br>

