.login{
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
div.contenedor_mensajes {
  margin: 0 auto;
  height: 70vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

div.mensaje {
  margin: 10px;
  display: flex;

}
div.mensaje-propio{
  justify-content: flex-end;
}

div.mensaje-otro{
  justify-content: flex-start;
}
div.fondo{
  padding: 10px;
  border-radius: 10px;
}
p {
  max-width: 200px;
}
div.fondo-propio{
  text-align: end;
  background-color: #DFFFA9;
}
div.fondo-otro{
  text-align: start;
  background-color: #CAFF70;
}

.casilla-mensaje{
  width: 40%;
}
@media screen and (max-height: 735px) {
  div.contenedor_mensajes {
    height: 60vh;
  }
}
@media screen and (max-width: 360px) {
  div.contenedor_mensajes {
    height: 55vh;
  }
}
@media screen and (min-width: 650px) {
  div.contenedor_mensajes {
    width: 80%;
  }
}
@media screen and (min-width: 760px) {
  div.contenedor_mensajes {
    width: 60%;
  }
}
