<div class="login">
  <button mat-raised-button color="primary" (click)="atras()" class="boton">Atras</button>
  webchat
  <button mat-raised-button color="primary" (click)="cerrarSesion()" class="boton">Cerrar Sesion</button>
  <p>registrado como {{usuario}}</p>
  <!--<mat-grid-list cols="{{tam}}">
    <mat-grid-tile *ngFor="let con of conversaciones">
      <app-conversacion nombre="{{con.nombre}}" estado=""></app-conversacion>
    </mat-grid-tile>
  </mat-grid-list>-->
  <div class="padre">
    <span  *ngFor="let con of conversaciones">
      <app-conversacion nombre="{{con.nombre}}" estado=""></app-conversacion>
    </span>
  </div>
</div>
